.react-datepicker__input-container {
    margin-top: 1.5rem !important;
}

.react-datepicker__input-container input {
    padding: 0.4rem;
    //background-color: #FCFBF8;
    //box-shadow: #E5DDD0 0px 3px 5px 0px;
    border: none;
    //border-bottom: 1px solid #66666E;
    background-color: transparent;
    color: #212529;
    font-size: 1.2rem;
    text-align: center;
    border-radius: 2px;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range {
    border-radius: 0.3rem;
    background-color: #BDE5AE !important;
    color: #FCFBF8 !important;
}

.react-datepicker__day--selected:hover, .react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover, .react-datepicker__month-text--selected:hover, .react-datepicker__month-text--in-selecting-range:hover, .react-datepicker__month-text--in-range:hover {
    background-color: #a1c693 !important;
}