// Fonts
$title-font: 'Crimson Pro', sans-serif;
$secondary-font: 'Roboto', sans-serif;

// Colors
$main-blue: #585a79;
$dark-blue: #3c3d53;
$light-blue: #7d7fa1;
$cream: #fff0ea;
$secondary-cream: #ffe4d3;

// Breakpoints
$breakpoints: (
  'small': (
    mind-width: 576px,
  ),
  'medium': (
    mind-width: 768px,
  ),
  'large': (
    mind-width: 992px,
  ),
  'extra-large': (
    mind-width: 1200px,
  ),
);

// Borders
$border-radius: 10px;
