$main-blue: #585A79;
$dark-blue: #3C3D53;
$light-blue: #7D7FA1;
$cream: #FFF0EA;
$secondary-cream: #FFE4D3;

.mood-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mood-item {
    label {
        height: 5em;
        width: 5em;
        margin: .4em .4em;
        background-color: $secondary-cream;
        border-radius: 10px;
        z-index: 50;
        cursor: pointer;

        &:hover,
        &:active,
        &:focus {
            background-color: $main-blue;
        }

        @media (min-width: 768px) {
            height: 6em;
            width: 6em;
            -webkit-transition: background-color .4s ease-out;
            -moz-transition: background-color .4s ease-out;
            -o-transition: background-color .4s ease-out;
            transition: background-color .4s ease-out;
        }
    }

    input {
        cursor: pointer;
        visibility: hidden;
    }

    input:checked ~ label,
    input:hover ~ label {
        background-color: $main-blue;
        border-radius: 10px;
    }
}

.mood-img {
    position: absolute;
    margin: .9em;
    height: 3.2em;
    width: 3.2em;
    z-index: 100;

    @media (min-width: 768px) {
        height: 4em;
        width: 4em;
        margin: 1em 1em;
    }
}

