$main-blue: #585A79;
$dark-blue: #3C3D53;
$light-blue: #7D7FA1;
$cream: #FFF0EA;
$secondary-cream: #FFE4D3;

.dropdown {
    position: relative;
}

.dropdown-toggle.btn.btn-success {
padding-top: 0 !important;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle.btn.btn-success, .dropdown-toggle.btn.btn-success:active, .dropdown-toggle.btn.btn-success:focus {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
    box-shadow: none;
}

.options-icon {
    color: $main-blue;
}

.dropdown-item {
    color: $cream;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: $main-blue;
    color: $cream;
}

.dropdown-menu.show.dropdown-menu-right {
    background-color: $light-blue;
    color: $cream;
}
