.dropdown {
    position: relative;
}

.dropdown-toggle.btn.btn-success {
padding-top: 0 !important;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle.btn.btn-success, .dropdown-toggle.btn.btn-success:active, .dropdown-toggle.btn.btn-success:focus {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
}

.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
    box-shadow: none;
}

.options-icon {
    color: #000;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: #FFF;
    color: #000;
}