$white: #FFFFFF;
$pink: #E36372;
$gray: #E0E2E7;
$black: #1A2E35;

$main-blue: #585A79;
$dark-blue: #3C3D53;
$light-blue: #7D7FA1;
$cream: #FFF0EA;
$secondary-cream: #FFE4D3;

.activity-icon-background {
    margin-bottom: .5em!important;
    padding: .8em;
    width: 3.5em;
    height: 3.5em;
    border-radius: 10px;
    border: none;
    background-color: $secondary-cream;
    cursor: pointer;

    @media (min-width: 768px) {
        width: 4em;
        height: 4em;
    }

    &:hover {
        color: $secondary-cream;
        background-color: $main-blue;

        @media (min-width: 768px) {
            -webkit-transition: background-color .5s ease-out;
            -moz-transition: background-color .5s ease-out;
            -o-transition: background-color .5s ease-out;
            transition: background-color .5s ease-out;
        }
    }
}

.activity-icon-background.btn.btn-primary .activity-icon {
    margin-top: 0.2em;
    color: $main-blue;
    font-size: 1.2em;

    @media (min-width: 768px) {
        margin-top: 0.3em;
        font-size: 1.6em;
    }

    :active {
        font-size: 1.1em;
    }
}

.activity-icon-background.active.btn.btn-primary {
    & > * { 
    color: $secondary-cream !important;
    background-color: $main-blue;
    }
}

.activity-icon-background.btn.btn-primary:hover {
    & > * {
        color: $secondary-cream;
    }
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: $secondary-cream;
    background-color: $main-blue;
    border: 1.2px solid $main-blue
}

.col-md-1 {
    @media (min-width: 768px) {
        margin: 0 .4em
    }
}
