$white: #FCFBF8;
$white-box-shadow: #E5DDD0;

//PHONE and up
.input-field {
    font-size: 1.2rem;
    background-color: $white;
    overflow: scroll;
    min-height: 80px;
    max-height: 80px;
    box-shadow: $white-box-shadow 0px 3px 5px 0px;
    border-radius: 4px;
    border: none;
}

.submit-button {
    background: #fcd1b0;
    color: white;
    outline: none;
    border: 1.2px solid #fcd1b0; 
    padding: 0.6rem;
    border-radius: 20px;
}

@media (min-width: 768px) {
    .title {
        font-size: 1.7rem;
        //text-align: center;
    }
    .input-field {
        font-size: 1.4rem;
        background-color: $white;
        overflow: scroll;
        min-height: 90px;
        max-height: 90px;
        width: 100%;
        box-shadow: $white-box-shadow 0px 3px 5px 0px;
        border-radius: 4px;
        border: none;
    }
}
