@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500&family=Roboto&display=swap');
$title-font: 'Crimson Pro', serif;
$secondary-font: 'Roboto', sans-serif;

$main-blue: #585A79;
$dark-blue: #3C3D53;
$light-blue: #7D7FA1;
$cream: #FFF0EA;
$secondary-cream: #FFE4D3;

* {
    margin: 0;
    padding: 0;
    font-family: $secondary-font;
}

html {
    overflow-y: hidden;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: $cream;
    font-family: $secondary-font;
    font-weight: 400!important;
    color: $main-blue;
    //overflow-y: scroll;
}

body {
    overflow-y: scroll;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $title-font;
}

button {
    font-family: $title-font;
    font-size: 1.1em;
}

.page-title {
    line-height: 1.2;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
}

/* sm */
@media (min-width: 576px) {
    body {
        font-size: 1em;
    }
}

/* md */
@media (min-width: 768px) {
    body {
        font-size: 1.1em;
    }

    .page-title {
        font-size: 2.2rem;
    }
}

/* lg */
@media (min-width: 992px) {
    body {
        font-size: 1.3em;
    }

    .page-title {
        font-size: 2.4rem;
    }
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768pxx and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

*/