.whatHappened {
    margin-top: 13rem !important;
    margin-left: 11rem !important;
    font-size: 1.3rem;
}

.textEditor {
    margin-left: 11rem !important;
    font-size: 1.2rem;
    max-width: 740px;
    background-color: #FCFBF8;
    box-shadow: #E5DDD0 0px 3px 5px 0px;
    border-radius: 4px;
}

img.goBack {
    width: 3rem;
    height: auto;
    cursor: pointer;
}